@tailwind base;
@tailwind components;
@tailwind utilities;

button{
    border-width: 4px;
    border-style: inset;
    border-color: light-dark(rgb(3, 97, 238),rgb(1, 44, 100));
    margin: 3px;
    width:min(19vw, 6rem);
}
button:hover,button:focus-visible{
    border-color: light-dark(rgb(2, 55, 124),rgb(3, 97, 238));
}
.cell{
    width:100%;
    background-color: whitesmoke;
    border-width:1px;
}

.row{
    display: flex;
    
}